<%- include('includes/start.ejs') %>
<link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
  <%- include('includes/navigation.ejs') %>
  
  <main class="main-body">
      <h1>Something went wrong</h1>
      <p>Sorry for inconvenience, We are trying to solve this.</p>
    </main>
    <%- include('includes/end.ejs') %>